#features {
  padding: 60px;
  .section-title {
    color: #565A5C;
  }
  .icon-box {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    text-align: center;
    .icon {
      font-size: 1.5rem;
      color: #3dadb2;
    }
  }
}
