#header {
  padding: 5px 15px;
  border-bottom: 1px solid #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    color: #565A5C;
    font-weight: bold;
    font-size: 1.7em;
  }
  .langages {
    color: #565A5C;
    a {
      color: #565A5C;
      text-decoration: none;
      font-weight: lighter;
      font-size: .8em;
    }
    span {
      vertical-align: middle;
    }
  }
}
