#header {
  background: pink;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    color: white;
    font-weight: bold;
    font-size: 2em;
  }
  .langages {
    a {
      color: white;
      text-decoration: none;
    }
    span {

    }
  }
}
