@charset "utf-8";
@import "normalize";
@import "header";
@import "footer";
@import "buttons";
@import "hero";
@import "features";
@import "beta-form";

// External Frameworks
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #F7F7F7;
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 500;
}

#mc_embed_signup {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#mc-embedded-subscribe.button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#mc_embed_signup {
  width: 11%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mc-embedded-subscribe-form label {
  color: #EFECEA;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}


#mce-FNAME {
  margin-bottom: 15px;
}
