<section id="hero">
  <h1>BUTRFLY</h1>
  <p><%= t(:hello) %></p>
  <a href="" class="btn-brand-dark"><%= t(:cta) %></a>
</section>

<section id="features">
  <header>
    <h2><%= t(:features) %></h2>
  </header>
</section>

<%= partial "beta-form" %>
