<!-- Start Footer -->
<footer id="footer">
    <div class="container-fluid">

        <ul class="social">
          <li>
            <a href="">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

        <small>&copy; 2016 Butrfly SAS - All right reserved</small>

    </div>
</footer>
<!-- End Footer -->
