<nav id="header">
  <span class="logo">BUTRFLY</span>
  <div class="langages">
    <a href="/">EN</a>
    <span>&bullet;</span>
    <a href="/fr">FR</a>
    <span>&bullet;</span>
    <a href="/es">ES</a>
  </div>
</nav>
